:root {
    --theme: #000119;
    --lightpink: #eee0ff;
    --border: #1e104e;
    --border-2: #0d0a38;
    --gradient-primary: linear-gradient(90deg, #e855de 25%, #5400ee);
    --gradient-secondary: linear-gradient(263.72deg, #ffa205 5.37%, #ff5898 48.9%, #b41cdd 99.03%);
}
body {
    background: var(--theme);
    color: var(--lightpink);
    font-family: var(--space-grotesk);
    margin: 0px;
}
a {
    color: var(--lightpink);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
input {
    font-family: var(--space-grotesk);
}

.text-gradient {
    color: transparent;
    background-clip: text !important;
    -webkit-background-clip: text;
}



.sidebar-item.active button {
    background: linear-gradient(to right, #170249e7, #420177e1, #170249e7);
    border: 1px solid #510b86c2;
}
.sidebar-item.active {
    position: relative;
}
.sidebar-item.active::before {
    content: '';
    width: 2px;
    position: absolute;
    left: -1px;
    top: 8px;
    bottom: 8px;
    background: #c814ff80;
    z-index: 2;
}


::-webkit-scrollbar {
    width:6px;
    background: #24104A;
}
::-webkit-scrollbar-thumb {
    background: var(--gradient-secondary);
}